section > ol > li > a { font-weight: bold }
ol { 
  list-style-type: circle; 
}
section > ol { 
  list-style-type: upper-roman; 
}
section > ol > li > ol > li { 
  list-style-type: upper-alpha;
}
section > ol > li > ol > li > ol > li { 
  list-style-type: decimal; 
}
section > ol > li > ol > li > ol > li > ol > li { 
  list-style-type: lower-alpha;
}
section > ol > li > ol > li > ol > li > ol > li > ol > li { 
  list-style-type: square;
}
section > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li { 
  list-style-type: circle; 
}
section > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li { 
  list-style-type: disc; 
}
ol { 
  padding-left: 3%; 
}
section {
  margin-top: 2em;
}
