{{> preamble }}
<link rel='index up' href=/toc>
<title>{{{ title }}} (Read Ruby 1.9)</title>
<link href=/chapter rel=stylesheet>

<header>
  <h1>Read Ruby 1.9</h1>

  <nav>
    <ol>
      <li><a href=/toc>Read Ruby</a>
      <li>{{{ title }}} <span>(draft)</span>
    </ol>
  </nav>
</header>

<article>
{{{ article }}}
</article>

<footer>
  <a href=//github.com/runpaint/read-ruby>Text and figures</a> licensed under
  a <a rel=license
    href=//creativecommons.org/licenses/by-nc-sa/2.0/uk/>Creative Commons License</a>.
</footer>

<script src=//www.google.com/jsapi></script>
<script>google.load("jquery","1.3");</script>
<script src=/ui.js></script>
