/*********** 
 *         *
 *  LINKS  *
 *         *
 ***********/

/* Make in-book links less dominant */

a[href^="#"]:link, a[href^="/"]:link {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a[href^="#"]:visited, a[href^="/"]:visited {
  color: gray;
  text-decoration: none;
  border-bottom: 1px dotted;
}

/* Mute the colours of external links */
a[href^="//"]:link, a[href^="http:"]:link {
  color: #6495ED;
  text-decoration: underline;
}

a[href^="//"]:visited, a[href^="http"]:visited {
  color: #9966CC;
  text-decoration: underline;
}

/* Hardcode quotation marks. The UA should do this, of course, but for some
   inexplicable reason, Chromium was messing up the opening mark. */   

q:before {
  content: '“';
}

q:after {
  content: '”';
}

/* We can’t use a simple class selector because it doesn’t have high-enough
 * specificity. !important is an option, of course...
 */
a[href^="#fn-"]:link, a[href^="#fn-"]:visited, a[href^="#fn-"]:hover, a[href^="#fn-"]:active {
  text-decoration: none;
  border-bottom: none;
  font-weight: bold;
}
