{{> preamble }}
<link rel='index up' href=/toc>
<title>{{{ title }}} (Read Ruby 1.9)</title>
<link href=/chapter rel=stylesheet>
<header>
  <h1>Read Ruby 1.9</h1>

  <nav>
    <ol>
      <li><a href=/toc>Read Ruby</a>
      <li>{{{ title }}}
    </ol>
  </nav>
</header>

<section>
  <h1>Error</h1>

  {{{ message }}}
</section>
