
section {
  margin-left: 2%;
  display: block;
}

body > section  {
  margin-left: 6%;
  margin-right: 6%;
}

aside {
  display: block;
  margin-left: 5%;
  border-left: 2px solid black;
  padding-left: 1%;
  width: 80%;
}
figure {
  display: block;
}

.figure-dt, figure > dt {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  text-align: center;
  font-style: italic;
}
body > section > h1 { font-size: 160%; text-align: center }
body > section > section h1 { font-size: 140% }
body > section > section > section h1 { font-size: 130% }
body > section > section > section section h1 { font-size: 120% }

table {
  margin-left: auto;
  margin-right: auto;
}
table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  padding: 10px;
}
td {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}
td:last-child {
  text-align: left;
  padding: 5px;
  font-size: 100%;
  font-weight: normal;
}
table > caption {
  caption-side: bottom;
  margin-top: 2%;
  padding-top: 2%;
  text-align: center;
  font-style: italic;
}
