<!doctype html>
<meta charset=utf-8>
<link href=http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT|Inconsolata rel=stylesheet>
<script>_gaq = [['_setAccount','UA-8774571-2'],['_trackPageview']];(function(){var ga=document.createElement('script');ga.src='//www.google-analytics.com/ga.js';ga.setAttribute('async','true');document.documentElement.firstChild.appendChild(ga);})();</script>
<link rel=license href=//creativecommons.org/licenses/by-nc-sa/2.0/uk/>
<!--[if lt IE 9]>
  <script src=//html5shiv.googlecode.com/svn/trunk/html5.js></script>
<![endif]-->
