<!DOCTYPE html>
<link href=http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT rel=stylesheet>
<meta charset=utf-8>
<title>Read Ruby 1.9: Free Ebook About the Ruby Programming Language</title>
<link href=/index rel=stylesheet>
<link rel=index href=/toc>
<link rel=next href=/programs>
<link rel=license href=//creativecommons.org/licenses/by-nc-sa/2.0/uk/>
<header>
  <img src=/small-strawberry alt="small strawberry" width=197 height=216>
  <h1>Read Ruby</h1>
  
  <p><em>Very</em> early draft of a book about version 1.9 of the Ruby
  programming language, released under a <a
    href=//creativecommons.org/licenses/by-nc-sa/2.0/uk/ rel=license>Creative
    Commons license</a>. <small>Photo credit: <a
      href=//www.flickr.com/photos/matthiasr/>Matthias Richwin</a></small></p>

  <ul>
    <li><a href=mailto:runrun@runpaint.org>E-mail</a> author.
    <li>Browse <a href=//github.com/runpaint/read-ruby>source</a>.
    <li>Submit <a href=//github.com/runpaint/read-ruby/issues>bug report</a>.
  </ul>
</header>
  
<section style=clear:both>
  <h1>Contents</h1>
  {{{ front_toc }}}
  <p>(<a rel=index href=/toc>complete</a> table of contents)</p>
</section>
