<form action=//www.google.com/cse>
  <input type=hidden name=cx value=012927387456573046134:ide2kmn7ihk>
  <input type=hidden name=ie value=UTF-8>
  <input type=search name=q size=25 placeholder="Search the book…">&nbsp;
</form>
