{{> preamble }}
<link rel='index' href=/>
<title>Table of Contents (Read Ruby 1.9)</title>
<link href=/toc.css rel=stylesheet>

<header>
  <h1>Read Ruby 1.9</h1>

  <nav>
    <ol>
      <li><a href=/>Read Ruby</a>
      <li>Table of Contents
    </ol>
  </nav>
</header>

<section>
  <h1>Contents</h1>
  {{{ toc }}}
</section>
